<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<%= will_paginate %>

<% @messages.each do |m| %>
  <div class="well">
    <p>From: <%= m.email %></p>
    <p>Message: </p>
    <p><%= m.message%></p>
    <p> Sent on: <%= m.created_at.to_formatted_s(:long_ordinal) %> </p>
  </div>
<% end %>

<%= will_paginate %>

