<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<%= will_paginate %>

<% @messages.each do |m| %>
    <div class="well">
      <%= render 'message', m: m%>
      <%= link_to "Permalink", m, class: "btn btn-primary"  %>
      <%= link_to 'Delete', m, method: :delete, class: "btn btn-danger",  data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>

<%= will_paginate %>

