<%= provide(:title, "Contact")%>
<h1> Contact Us </h1>

<p>Find me in app/views/messages/new.html.erb</p>

<div class="row">

    <%= form_for(@message, url: contact_path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control', rows: '10' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %> 

</div>
