<pre style="font-family: sans-serif">
A new team member application has been submitted.

Name: <%=@application.first_name%> <%= @application.last_name %> 
Email: <%= @application.email %>
Date of birth: <%= @application.date_of_birth.to_formatted_s(:long_ordinal)%> 
Attends UNC: <%= @application.attends_unc ? "Yes" : "No" %>

Github: <a href="<%= @application.github_url%>"><%= @application.github_url%></a>
LinkedIn: <a href="<%= @application.linkedin_url%>"><%= @application.linkedin_url%></a>
Personal Website: <a href="<%= @application.website_url%>"><%= @application.website_url%></a>

Cover Letter:
<%= @application.cover_letter unless @application.cover_letter.nil? %> 

<a href="<%= root_url + @application.resume_url %>">Download Resume</a>


<a href="<%= team_application_url(@application) %>">View this submission</a>
</pre>
