<pre style="font-family: sans-serif">
A new project proposal has been submitted.

Name: <%= @proposal.first_name %> <%= @proposal.last_name %> 
Email: <%= @proposal.email %>
Company: <%= @proposal.company_name%> 
Company website: <a href="<%= @proposal.company_url%>"><%= @proposal.company_url%></a>

Message: </pre>
"<%=@proposal.message%>" 

<br><br>

<% unless @proposal.pitch_deck.nil? || @proposal.pitch_deck.length==0 %>
  <a href="<%= root_url + @proposal.pitch_deck_url %>">Download pitch deck</a>
<% end %>

<br><br>
<a href="<%= proposal_url(@proposal) %>">View this submission</a>


