<h1>Proposals#index</h1>
<p>Find me in app/views/proposals/index.html.erb</p>

<%= will_paginate %>

<% @proposals.each do |p| %>

    <div class="well">
      <%= render 'proposal', p: p%>
      <%= link_to "Permalink", p, class: "btn btn-primary"  %>
      <%= link_to 'Delete', p, method: :delete, class: "btn btn-danger",  data: { confirm: 'Are you sure?' } %>
    </div>

<% end %>

<%= will_paginate %>

