<%= provide(:title, "Proposal")%>
<p>Find me in app/views/proposals/new.html.erb</p>

<div class="row">

    <%= form_for(@proposal, url: proposal_path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: 'form-control' %>

      <%= f.label :company_url %>
      <%= f.url_field :company_url, class: 'form-control' %>

      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control' %>

      <%= f.label :pitch_deck %>
      <%= f.file_field :pitch_deck, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %> 

</div>
