<footer class="footer">
  <small>GURU DEV, LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Team",   team_path %></li>
      <li><%= link_to "Portfolio",   portfolio_path %></li>
      <li><%= link_to "Pitch",   pitch_path %></li>
      <li><%= link_to "Join",   join_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
